/*清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #e33333;
}
html{
    position: relative;
}
button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    /*取消轮廓线 蓝色的*/
    outline: none;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}
:root{
    font-size: 15px;
}
body{
    min-height: 100vh;
    background-color: #e493d0;
    background-image: 
        radial-gradient(closest-side,rgba(235,105,78,1),rgba(235,105,78,0)),
        radial-gradient(closest-side,rgba(243,11,164,1),rgba(243,11,164,0)),
        radial-gradient(closest-side,rgba(170,142,245,1),rgba(170,142,245,0)),
        radial-gradient(closest-side,rgba(255,255,255,1),rgba(255,255,255,0)),
        radial-gradient(closest-side,rgba(254,234,131,1),rgba(254,234,131,0));
    background-size:
    130vmax  130vmax,
    80vmax   80vmax,
    90vmax   90vmax,
    110vmax  110vmax;
    background-position: 
    -80vmax -80vmax,
    60vmax -38vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s move linear infinite;
}
@keyframes move {
    0%,100%{
        background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 9vmax;
        background-position: 
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
        
    }
    25%{
        background-size: 
        100vmax 100vmax,
        90vmax 90vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        60vmax 60vmax;
        background-position: 
        -100vmax -100vmax,
        30vmax -30vmax,
        30vmax 30vmax,
        -30vmax -10vmax,
        80vmax 80vmax;
    }
    50%{
        background-size: 
        600vmax 600vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        50vmax 50vmax,
        1300vmax 130vmax;
        background-position: 
        -100vmax -100vmax,
        90vmax -60vmax,
        40vmax 40vmax,
        -30vmax -10vmax,
        0vmax 0vmax;
    }
    75%{
        background-size: 
        200vmax 200vmax,
        20vmax 20vmax,
        100vmax 100vmax,
        60vmax 60vmax,
        90vmax 9vmax;
        background-position: 
        -70vmax -70vmax,
        90vmax -90vmax,
        10vmax 10vmax,
        -60vmax -60vmax,
        100vmax 100vmax;
    }
}
