@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

#logo {
    height: 80px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    position: relative;
    top: -15px;
}

#picture {
    width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}

#logo1 {
    position: absolute;
    height: 100px;
    width: 200px;
    left: 100px;
    top: 14px;
}

#logo2 {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 36px;
    right: 100px;
}

#guding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.addHeight {
    height: 167px;
}

#all {
    height: 3150px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f3eff0;
}

body {
    background-color: #f3eff0;
}

#logoall {
    background-color: #FFF;
    height: 80px;
}

#login {
    background-color: #f3eff0;
    height: 35px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#login h2 {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    float: left;
}

#bottom {
    background-color: #FFF;
    height: 400px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#bottom ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#bottom ul li .picture1 {
    height: 200px;
    width: 300px;
    margin-left: 70px;
    margin-top: 30px;
}

#bottom ul li p {
    font-size: 22px;
    margin-left: 70px;
    color: #4b0317;
}

#version {
    padding-top: 30px;
    background-color: #ff847c;
    height: 110px;
    width: 100%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#all #version p {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    font-weight: normal;
    color: #3C3C3C;
    font-family: "宋体";
}

#version p {
    height: 30px;
    line-height: 30px;
}

#bottom ul li {
    float: left;
}

#loginp {
    font-size: 14px;
    color: #333;
    float: right;
    margin-top: 5px;
}

#loginp a {
    text-decoration: none;
    color: #333;
    margin-left: 3px;
    margin-right: 3px;
}

#loginp a:hover {
    text-decoration: none;
    color: #00F;
    margin-left: 3px;
    margin-right: 3px;
}

#tast ul li .img1:hover {
    opacity: 0.5;
}

.king {
    width: 100%px;
    height: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
    overflow: hidden;
}

.king ul {
    margin: 10px auto;
    margin-left: 10px;
    list-style: none;
}

.king li {
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.king li.current {
    width: 400px;
}

.king li.current .big {
    display: block;
}

.king li.current .small {
    display: none;
}

.big {
    width: 400px;
    height: 180px;
    display: none;
    border-radius: 5px;
}

.small {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

li {
    float: left;
}